@import "base/colours.scss";
@import "base/media-queries.scss";

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
  background: $c-page-bg;
  color: $c-grey;
  font: normal normal 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;

  @include respond-to(mobile) {
    max-width: 100%;
    overflow: hidden;
  }
}

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import "base/colours.scss";
@import "base/display.scss";
@import "base/forms.scss";
@import "base/icons.scss";
@import "base/layout.scss";
@import "base/links.scss";
@import "base/media-queries.scss";
@import "base/sizes.scss";
@import "base/space.scss";
@import "base/text-colours.scss";
@import "base/text.scss";
@import "components/action.scss";
@import "components/alert.scss";
@import "components/app-header.scss";
@import "components/connection-indicator.scss";
@import "components/error.scss";
@import "components/buttons.scss";
@import "components/editor.scss";
@import "components/import.scss";
@import "components/key.scss";
@import "components/main.scss";
@import "components/modal.scss";
@import "components/sidebar.scss";
@import "components/user-form.scss";
