// Layout
$sidebar-width: 300px;
$s-header-height: 43px;

// Padding & margin
$s-xxs: 5px;
$s-xs:  7px;
$s-s:   10px;
$s-m:   14px;
$s-xm:  18px;
$s-xxm: 24px;
$s-l:   30px;
$s-xl:  40px;
$s-xxl: 70px;

// Fonts
$t-xs: 0.714em;  // 10px
$t-s:  0.857em;  // 12px
$t-m:  1em;      // 14px
$t-xm: 1.1428em; // 16px
$t-l:  1.428em;  // 20px
