@import "./colours.scss";

.u-c-light-grey {
  color: $c-light-grey;
}

.u-c-mid-grey {
  color: $c-mid-grey;
}

.u-c-grey {
  color: $c-grey;
}

.u-c-page-bg {
  color: $c-page-bg;
}

.u-c-border {
  color: $c-border;
}

.u-c-green {
  color: $c-green;
}

.u-c-red {
  color: $c-red;
}

.u-c-blue {
  color: $c-blue;
}
