@import "../base/sizes.scss";
@import "../base/colours.scss";

.editor-wrapper {
  position: relative;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  max-width: 700px;
  height: 100%;
}

.CodeMirror {
  padding: 0;
}

.CodeMirror, .editor {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: auto;
  width: 100%;
  border: none;
  background: $c-page-bg;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 28px;
  resize: none;
  -webkit-overflow-scrolling: touch;

  &:focus {
    outline: none;
  }
}

.cm-s-paper {
  &.CodeMirror {
    background: transparent;
    color: #424242;

    &.CodeMirror-fullscreen {
      background: $c-page-bg;
      padding: $s-header-height 15%;
      z-index: 1;

      .CodeMirror-lines {
        margin: 0 auto;
        max-width: 900px;
      }
    }
  }

  .CodeMirror-lines {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .CodeMirror-cursor {
    border-left: 1px solid #2DBCFB !important;
    border-right: 1px solid #2DBCFB !important;
  }

  .CodeMirror-selected {
    background: #B6D6FD;
  }

  .cm-string {
    color: #929292;
  }

  .cm-header, .cm-strong {
    font-weight: 600;
  }

  .cm-header-1 {
    font-size: 160% !important;
    line-height: 160% !important;
  }

  .cm-header-2 {
    font-size: 130% !important;
    line-height: 130% !important;
  }

  .cm-comment {
    background: transparent !important;
    font-family: "Inconsolata-dz", "Inconsolata", "Menlo", "Ubuntu Mono", "Consolas", monospace;
  }
}

.fullscreen-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $s-header-height;
  padding: 7px;
  background: #fff;
  border-bottom: 1px solid $c-border;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  z-index: 2;

  .action--back {
    display: block;
  }
}
