@import "../base/sizes.scss";
@import "../base/colours.scss";
@import "../base/media-queries.scss";

.main {
  position: absolute;
  left: $sidebar-width;
  top: $s-header-height;
  right: 0;
  bottom: 140px;
  padding: 0 30px;
  z-index: 2;

  @include respond-to(mobile) {
    left: 0;
    padding: 0 30px;
    background: $c-page-bg;
  }
}
