@import "../base/sizes.scss";
@import "../base/colours.scss";

.ember-modal-overlay {
  background: #000;
  opacity: 0.3;
}

.ember-modal-dialog {
  padding: 0;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal__header {
  margin: 0;
  padding: $s-m $s-m;
  border-bottom: 1px solid $c-border;
  font-size: $t-m;
  text-align: center;
}

.modal__body {
  min-width: 400px;
  max-width: 600px;
  padding: $s-l $s-m;
}

.modal__actions {
  padding: $s-s $s-m;
  overflow: hidden;
  border-top: 1px solid $c-border;
}
