<main class="main">
  <div class="editor-wrapper">
    {{#if isTouch}}
      {{textarea class="editor" value=model.text}}
    {{else}}
      {{markdown-editor value=model.text}}
    {{/if}}
  </div>
</main>

