<main class="main">
  <div class="editor-wrapper">
    {{#if isTouch}}
      {{textarea class="editor" value=model.text}}
    {{else}}
      {{ivy-codemirror value=model.text theme="scribly" mode="markdown" lineWrapping=true}}
    {{/if}}
  </div>
</main>

