<main class="user-form">
  <h1 class="user-form__heading">Create an account</h1>

  {{validation-messages model=model}}

  <form class="user-form__body" {{action "createUser" on="submit"}}>

    <label class="label" for="email">Email address</label>
    {{input id="email" name="email" class="input" type="email" value=model.email}}

    <label class="label" for="password">Password</label>
    {{input id="password" name="password" class="input" type="password" value=model.password}}

    <button class="user-form__body__btn btn btn--green btn--large">
      Sign up
    </button>

    <div class="u-text-s u-text-center">
      Already have an account? {{#link-to "user.login"}}Log in here{{/link-to}}
    </div>
  </form>
</main>
