{{#if isFullScreen}}
  <header class="fullscreen-header">
    <button {{action "toggleFullScreen"}} class="action action--back u-c-light-grey u-margin-Ls">
      <i class="icon icon--back"></i>
      <span class="action__text">Back to notes</span>
    </button>
  </header>
{{/if}}

<textarea></textarea>
